<div class="holding">

	<p>LUKE MACAULEY is a luxury men’s accessories brand which skips traditional retail markups by selling direct to the consumer online. The long-established practice for a luxury brand is to sell to retail stores at wholesale prices, the store then marks the product up 2.5X to 3X. We are flipping this model on its head by avoiding retail all together and selling exclusively online offering the consumer the same exceptional product without the retail premium.</p>
	<p>Our collection is based on the finest materials and craftsmanship. Made by hand in Scandicci, Italy — where there is a concentration of artisan factories producing the best leather goods in the world. Each piece is constructed from Italian python snakeskin and French calf leather. The python skins are sourced from a tannery owned by Kering and the calf leather from a tannery owned by Hermes. Our bespoke hardware is made by the same company used by Tom Ford. The first collection will consist of a cardholder, wallet, iPad mini case, iPad case, laptop case together with a 50cm holdall.</p>
	<p>The luxury fashion world is controlled by two companies, LVMH and Kering. Both are multi-billion dollar businesses, traditionally marking up their products 8X to 12X cost. LUKE MACAULEY will mark its products up just 3X cost. Rather than development and production lead times of 12-18 months which most fashion companies endure; we will be able to design, produce and launch new products in under four months.</p>
	<p>Through constant evolution, we will create passion amongst our customers with a value proposition of exceptional products at transparent prices. Sign up to be among the first to discover and shop LUKE MACAULEY.</p>

	<form action="http://emailmarketing.createsend.co.uk/t/r/s/tizihl/" method="post">
    <input id="fieldEmail" name="cm-tizihl-tizihl" type="email" placeholder="Enter your email" required />
    <button type="submit">Sign Up</button>
	</form>

</div>

