<footer>
	<ul>
		<li><%= link_to image_tag("twitter.svg", class: "twitter", alt: "Twitter"), "http://www.twitter.com/lukemacauley", target: "_blank" %></li>
		<li><%= link_to image_tag("instagram.svg", class: "instagram", alt: "Instagram"), "http://www.instagram.com/lukemacauley", target: "_blank" %></li>
	</ul>
</footer>